<div class="row">
  <br/>

<%= form_tag companies_path, :method => :get do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>

  <% @companies.each do |company| %>
    <h1><%= link_to company.name, company_path(company) %></h1>
    <h3><%= company.city %>,
        <%= company.state %></h3>

<hr/>

  <% end %>

</div>

