<p id="notice"><%= notice %></p>

<h2>
  <%= image_tag @company.logo, :size => "200x200" %>
  <%= @company.name %>
</h2>

<hr/>
 <h4>Interview questions provided by users: </h4>
  <br>

<table>
  <thead>
    <tr>
      <th>Category:</th>
      <th>Question:</th>
      </tr>
  </thead>

  <tbody>
    <% @company.questions.each do |q| %>
      <tr>
        <td><%= q.category %></td>
        <td><%= q.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>

<p> Have you interviewed with <%= @company.name %>?
      <%= link_to 'Click Here', new_company_interview_path(@company) %> to add question(s).</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
